<!DOCTYPE html>
<html>
  <head>
    <title>S A R A H  S W I F T </title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Raleway"
     rel="stylesheet">
     <link href="https://fonts.googleapis.com/css?family=Parisienne" rel="stylesheet">


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header">
      <h1>SARAH SWIFT</h1>
      <div class="nav">
        <ul>
          <li><%= link_to 'ABOUT', href="/"%></li>
          <li><%= link_to 'SKILLS', href="/skills"%></li>
          <li><%= link_to 'EDUCATION', href="/schooling"%></li>
          <li><%= link_to 'PROJECTS', href="/projects"%></li>
          <!-- <li><%= link_to 'RESUME', href="/resume"%></li> -->
          <li><%= link_to 'CONTACT', href="/contact"%></li>
        </ul>
      </div>
      <div class="meat">
        <%= yield %>
      </div>

    <div class="footer">
      <div class="nav">
        <ul>
          <a href="https://github.com/sdossettswift"><i class="fa fa-github
            fa-2x" aria-hidden="true"></i></a>

            <a href="https://linkedin.com/in/sarahdswift"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a>

            <a href="mailto:sdossettswift@gmail.com?subject=GettingInTouch"><i class="fa fa-envelope fa-2x" aria-hidden="true"></i> </a>
        </ul>
    </div>
    <div class="footsie">
      <h4>CODED FROM SCRATCH WITH <i class="fa fa-heart" aria-hidden="true"></i> IN SPACE CITY, TEXAS</h4>
      <h4>COPYRIGHT 2016 | S. DOSSETT SWIFT</h4>
    </div>
  </body>
</html>
